# Ignora los binarios. No se deben subir a un repositorio.
*.pyc

# Ignora los temporales del editor vim
*.swp

# Ignora elementos creados por virtualenv, la herramienta para crear entornos
# python aislados
*/bin/
*/include/
*/lib/
*/local/
*/pip-selfcheck.json
*/game.conf

# Ignora cosas nazis de Mitch
BackUp

Game/others/game.conf
